<ul class="bg-white shadow-md rounded-lg p-6 space-y-4 max-w-md mx-auto">
  
  <!-- Процентная ставка -->
  <li *ngIf="terms?.interest" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Процентная ставка:</span>
    <span class="text-gray-900">
      {{ terms.interest.rate }}%

    </span>
  </li>

  <!-- Минимальные дни начисления -->
  <!-- <li *ngIf="terms?.interest?.minChargeDays" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Минимальный срок начисления:</span>
    <span class="text-gray-900">{{ terms.interest.minChargeDays }} дней</span>
  </li> -->

  <!-- Лимиты займа -->
  <li *ngIf="terms?.limits?.minAmount" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Минимальная сумма займа:</span>
    <span class="text-gray-900">{{ terms.limits.minAmount | number:'1.0-0' }} ₸</span>
  </li>
  <li *ngIf="terms?.limits?.maxAmount" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Максимальная сумма займа:</span>
    <span class="text-gray-900">{{ terms.limits.maxAmount | number:'1.0-0' }} ₸</span>
  </li>

  <!-- Комиссия -->
  <li *ngIf="terms?.fees" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Комиссия:</span>
    <span class="text-gray-900">
      <ng-container *ngIf="terms.fees.type === 'fixed'">
        {{ terms.fees.value | number:'1.0-0' }} ₸
      </ng-container>
      <ng-container *ngIf="terms.fees.type === 'percent'">
        {{ terms.fees.value }}%
      </ng-container>
    </span>
  </li>

  <!-- Корректировка цены -->
  <li *ngIf="terms?.priceAdjustmentLimitPercent" class="flex justify-between items-center">
    <span class="font-semibold text-gray-700">Допустимая корректировка цены:</span>
    <span class="text-gray-900">±{{ terms.priceAdjustmentLimitPercent }}%</span>
  </li>

</ul>
